@page "/"

<PageTitle>Home | Michael Martin</PageTitle>

<section >
    @* class="container grid-lg"                                   *@
    <h2>Hello World!</h2>
    <h1>I'm <strong>Michael Martin</strong></h1>
    <h3 style="text-align:center"> Welcome to my part of the digital universe.</h3>
    <h4 style="text-align:center">
        <div style="text-align:center">
            <a href="https://github.com/0xMMA" class="fa fa-brands fa-github" title="github"></a>
            <a href="https://www.linkedin.com/in/michael-martin-dev/" class="fa fa-brands fa-linkedin" title="linkedin"></a>
            <a href="https://twitter.com/mmartin_dev" class="fa fa-brands fa-twitter" title="twitter"></a>
        </div>
    </h4>
</section>