:root {
    --background-color: #131516;
    --fore-color: rgb(200, 195, 188);
    --font-family: "Source Sans Pro", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    --font-weight: 400; 
}

body {
    background-color: var(--background-color);
    color: var(--fore-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global styles */


