html, body {
    background: #131516;
    color: #c8c3bc;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5em;
    margin-top: 2rem;
}

.h1, h1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

.title-h1h2 h1 {
    font-weight: 100;
    margin-bottom: 0;
    line-height: 1.1;
}

.h2, h2 {
    font-size: 1.8rem;
}

.h3, h3 {
    font-size: 1.4rem;
}


h1, h2 {
    text-align: center;
}

.title-h1h2 h1 bold, .title-h1h2 h1 strong {
    font-weight: 400;
}